[Unit]
Description=TZMRIT USB Display Temperature Daemon
After=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/tzmrit-dgt-linux
ExecStart=/usr/local/bin/tzmrit-dgt-linux/.venv/bin/python -u /usr/local/bin/tzmrit-dgt-linux/tzmrit_daemon.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
